@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Outfit', sans-serif;
}

:root{
    --color-white:hsl(0, 0%, 100%);
    --color-slate:hsl(212, 45%, 89%);
    --color-secondary: hsl(220, 15%, 55%);
    --color-primary: hsl(218, 44%, 22%);

    --font-size-heading-1: 1.375rem;
    --font-size-paragraph: 0.9375rem;

    --rad-border-lg: 1.25rem; /* border-radius 20px */
    --rad-border-sm: 0.625rem; /* border-radius 10px */
    
    /* length */
    --len-l: 1.5rem;  
    --len-sm: 1rem;
}

body{
    background-color: var(--color-slate);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    font-size: var(--font-size-heading-1);
    font-weight: 700;
    color: var(--color-primary);
    /* margin-block: .67em; */
    /* border: 2px solid rgb(255, 59, 59); */
}

/* Look into adding margin-block to paragraph */
p{
    font-size: var(--font-size-paragraph);
    font-weight: 400;
    color: var(--color-secondary);
    /* border: 2px solid rgb(59, 92, 255); */
    margin: var(--len-sm);
}

img{
    width: 288px;
    height: 288px;
    align-self: center;
    border-radius: var(--rad-border-sm);
}

.card{
    padding: 16px;
    border-radius: var(--rad-border-lg);
    box-shadow: 0 25px 25px rgb(0 0 0 / 4.77%);
    background-color: var(--color-white);
    width: 320px;
    text-align: center;
}

.card-description{
    margin: var(--len-l) 0;
}